---
layout: default
javascript: portfolio
---
<div class="section_header">
	<ul>
		<li><h1><a class="section_option" href="#" >Code</a></h1></li>
		<li><h1><a class="section_option" href="#" >Copy</a></h1></li>
		<li><h1><a class="section_option" href="#" >Design</a></h1></li>
	</ul>
</div>

<div class="portfolio_section" id="Code">
	
	{% for post in site.posts %}

		{% if post.category == "code" %}
		
			<div class="portfolio_item">

				<a href="/{{post.url}}">
					<img class="item_tile" src="images/{{post.image}}">
					<text class="block">{{post.title}}</text>
				</a>

			</div>
	
		{% endif %}
	
	{% endfor %}

</div>

<div class="portfolio_section" id="Copy">
	
	{% for post in site.posts %}

		{% if post.category == "copy" %}
		
			<div class="portfolio_item">

				<a href="{{site.baseurl}}{{post.url}}">
					<img class="item_tile" src="/images/{{post.image}}">
					<text class="block">{{ post.title }}</text>
				</a>

			</div>
	
		{% endif %}
	
	{% endfor %}

</div>

<div class="portfolio_section" id="Design">
	
	{% for post in site.posts %}

		{% if post.category == "design" %}
		
			<div class="portfolio_item">

				<a href="{{site.baseurl}}{{post.url}}">
					<img class="item_tile" src="/images/{{post.image}}">
					<text class="block">{{ post.title }}</text>
				</a>

			</div>
	
		{% endif %}
	
	{% endfor %}

</div>
