---
layout: default
---

<div class="portfolio_section">
	<div class="section_header">
		<h1>Code</h1>
	</div>
	
	{% for post in site.posts %}

		{% if post.category == "code" %}
		
			<div class="portfolio_item">

				<a href="{{site.baseurl}}{{post.url}}">
					<img class="item_tile" src="/images/{{post.image}}">
					<text class="block">{{ post.title }}</text>
				</a>

			</div>
	
		{% endif %}
	
	{% endfor %}

</div>

<div class="portfolio_section">
	<div class="section_header">
		<h1>Copy</h1>
	</div>
	
	{% for post in site.posts %}

		{% if post.category == "copy" %}
		
			<div class="portfolio_item">

				<a href="{{site.baseurl}}{{post.url}}">
					<img class="item_tile" src="/images/{{post.image}}">
					<text class="block">{{ post.title }}</text>
				</a>

			</div>
	
		{% endif %}
	
	{% endfor %}

</div>

<div class="portfolio_section">
	<div class="section_header">
		<h1>Design</h1>
	</div>
	
	{% for post in site.posts %}

		{% if post.category == "design" %}
		
			<div class="portfolio_item">

				<a href="{{site.baseurl}}{{post.url}}">
					<img class="item_tile" src="/images/{{post.image}}">
					<text class="block">{{ post.title }}</text>
				</a>

			</div>
	
		{% endif %}
	
	{% endfor %}

</div>