<header>
  <nav>
    <div id="logo">
      <a href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>
    <div id="mobilenav">
      <ul id="primarynav">
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Resume</a></li>
      </ul>
    </div>
    <div id="topnav">
      <ul id="primarynav">
        <li><a href="#">Code</a></li>
        <li><a href="#">Copy</a></li>
        <li><a href="#">Design</a></li>
      </ul>
      <ul id="secondarynav">
        <li><a href="#">Contact</a></li>
        <li><a href="images/Eric-Margules-Resume.pdf">Resume</a></li>
      </ul>
    </div>
  </nav>
</header>