<header>
  <nav>
    <div id="logo">
      <a href="{{ site.url }}/">{{ site.title }}</a>
    </div>
    <div id="mobilenav">
      <ul id="primarynav">
        <li><a href="/{{site.baseurl}}/portfolio.html">Portfolio</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="images/Eric-Margules-Resume.pdf">Resume</a></li>
      </ul>
    </div>
    <div id="topnav">
      <ul id="primarynav">
        <li><a href="/{{site.baseurl}}/portfolio.html?category=code">Code</a></li>
        <li><a href="/{{site.baseurl}}/portfolio.html?category=copy">Copy</a></li>
        <li><a href="/{{site.baseurl}}/portfolio.html?category=design">Design</a></li>
      </ul>
      <ul id="secondarynav">
        <li><a href="contact.html">Contact</a></li>
        <li><a href="images/Eric-Margules-Resume.pdf">Resume</a></li>
      </ul>
    </div>
  </nav>
</header>
