<header>
  <nav>
    <div id="logo">
      <a href="{{site.url}}/">{{ site.title }}</a>
    </div>
    <div id="mobilenav">
      <ul id="primarynav">
        <li><a href="{{site.url}}/portfolio.html">Portfolio</a></li>
        <li><a href="{{site.url}}/images/Eric-Margules-Resume.pdf">Resume</a></li>
        <li><a href="{{site.url}}/contact.html">Contact</a></li>
     </ul>
    </div>
    <div id="topnav">
      <ul id="primarynav">
        <li><a href="{{site.url}}/portfolio.html?category=code">Code</a></li>
        <li><a href="{{site.url}}/portfolio.html?category=copy">Copy</a></li>
        <li><a href="{{site.url}}/portfolio.html?category=design">Design</a></li>
      </ul>
      <ul id="secondarynav">
        <li><a href="https://github.com/ericmargules">GitHub</a></li>
        <li><a href="{{site.url}}/images/Eric-Margules-Resume.pdf">Resume</a></li>
        <li><a href="{{site.url}}/contact.html">Contact</a></li>
        <li><a class="fa fa-github" href="https://github.com/ericmargules">::before</a><a class="fa fa-linkedin-square" href="https://www.linkedin.com/in/ericmargules/">::before</a><a class="fa fa-instagram" href="https://www.instagram.com/dot_each_do/">::before</a></li>
      </ul>
    </div>
  </nav>
</header>
